{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1>Todo-List</h1>

   

<form class="row" action="/" method="post">
    
    <input class="form-control" placeholder="Add Todo" type="text" name="content" id="content" required>
    <button type="submit" class=" btn btn-primary">Add</button>
</form>
<h2 class="mt-4">Todo</h2>
<div class="container row justify-content-between g-1 mt-3 text-center">
 {% for task in tasks %}
 {% if task.completed == 0 %}
 <div class="card text-bg-light mr-2 col-lg-4 col-md-6 g-1">
  <div class="card-body">
    <h5 class="card-title">{{task.date_updated.strftime('%m/%d  %H:%M')}}</h5>
    
    <p class="card-text">{{task.content}}</p>
    <a href="/changestatus/{{task.id}}" class="card-link">Mark-as-Done</a>
    <a href="/delete/{{task.id}}" class="card-link text-danger">Delete</a>
  </div>
  </div>
  {% endif %}
        
    {% endfor %}
</div>

<h2 class="mt-4">Done</h2>
<div class="container row justify-content-between g-1 mt-3 text-center">
 {% for task in tasks %}
 {% if task.completed == 1 %}
 <div class="card text-bg-green-300 mr-2 col-lg-4 col-md-6 g-1">
  <div class="card-body">
    <p class="card-text fs-6 fw-light text-decoration-line-through">{{task.content}}</p>
    <h6 class="card-subtitle mb-2 body-secondary">Completed on {{task.date_updated.strftime('%m/%d  %H:%M')}}</h6>
    
    <a href="/changestatus/{{task.id}}" class="card-link">Repeat</a>
    <a href="/delete/{{task.id}}" class="card-link text-danger">Delete</a>
  </div>
  </div>
  {% endif %}
        
    {% endfor %}
</div>
{% endblock %}

